* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: var(--bg-gradient);
}

input,
button {
  font-family: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
